@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Josefin+Sans:ital,wght@0,400;1,300;1,500&display=swap');

.flexCont{
    height:100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Assets/bg2.jpg");
}
.loginContainer{
  align-items: center;
  display: flex;
  justify-content: center;
    
}
.container{
  background-color: rgb(255, 249, 249);
  padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width:40vw;
  /* position: absolute; */
}
.heading{
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: "Montserrat"; */
  font-weight: 500;
  color: rgb(72, 64, 86);
}
.inputBox{
  background-color: rgb(227, 227, 227);
  /* border-radius: 3rem; */
  border: 0px;
  opacity: 0.6;
  margin-bottom: 0;
  /* padding-bottom: 0.5rem; */
  width:100%
}
.inputBox::placeholder{
  /* padding-left: 0rem; */
  color:black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 17px;
}
/* .inputBoxContainer{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
} */
input[type=text]:focus {
  border: 3px solid #555;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}
.formContainer{
  max-width: 350px;
  text-align: center;
  width: 30vw;
  padding-top: 20px;
  margin:auto
}
.btn{
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  border-radius: 2rem;
  width: 40%;
  border: 0px;
  color:white;
  font-size: 17px;
  background-color: rgb(232,107,121);
  
}
.btn:hover{
    transform:scale(1.04);
    transition-duration: 0.5s;
    background-color: rgb(241, 108, 124);
    /* border: rgb(232,107,121) solid 2px; */
    /* text-decoration: underline; */
    
}
.btnContainer{
  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.btntext{
  /* font-family: "Montserrat"; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
