@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Josefin+Sans:ital,wght@0,400;1,300;1,500&display=swap');
.big{
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:150vh;
    background-image: url("../Assets/bg2.jpg") ;
}
.picturegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 30px;
}

.picturegriditem {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.picturegriditem img {
  max-width: 100%;
  max-height: calc(100% - 30px);
  object-fit: contain;
}

.picturetitle {
  font-family: 'Montserrat', sans-serif;
  padding: 11px;
  font-size: 20px;
  color: #413e40;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
