@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Josefin+Sans:ital,wght@0,400;1,300;1,500&display=swap');
.flexCont{
    height:100vh;
    /* display: flex; */
    text-align: center;
    align-items: center; 
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Assets/bg3.jpg") ;
    
}
.heading{
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: "Montserrat"; */
  font-weight: 500;
  font-size: 2rem;
  padding-top: 3rem;
  color: rgb(72, 64, 86);
}